@use "../../../styles/partials/utils/index" as *;

.input__text-area{
  width: 100%;
  resize: none;
  // min-height: 4rem;
  height: 120px;

  &::placeholder{
    height: 100%;
    color: $clr-secondary-darkgrey;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
  }
}