//Colors

$clr-primary-black: #13182c; //Instock Black
$clr-primary-indigo: #2e66e5; //Instock Indigo
$clr-primary-white: #ffffff; //White

$clr-secondary-darkgrey: #5c667e; //Slate
$clr-secondary-lightgrey: #bdc5d5; //Cloud

$clr-bg-black: #232940; //Graphite
$clr-bg-light: #f7f8f9; //Light-Grey

$clr-green: #158463; //Green
$clr-red: #c94515; //Red

// Breakpoints
// Mobile first design up to 768px
$breakpoint-mobile-max: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$desktop-max-width: 102rem;
