@use "../../styles/partials/utils/index" as *;

.hero-home {
  width: 100%;
  @include flex;

	&__container {
		padding: 2rem;
		@include flex;
    gap: 2rem;
	}

  &__wrapper-left{
    width: 100%;
    @include media-mobile{
      display: none;
    }
  }

	&__wrapper-right {
    height: 100;
		@include flex(flex-start, center, row);
	}

	&__heading {
    font-weight: 500;
    font-size: 1.4rem;
    @include media-tablet{
      font-size: 2rem;
    }
		// flex-wrap: wrap;
	}
	&__subheading {
    font-weight: 500;
		max-width: 36rem;

    font-size: 1rem;
    @include media-tablet{
      font-size: 1.2rem;
    }

    & > strong{
      font-weight: bold;
    }
	}

  &__cta{
    font-weight: 400;
    font-size: 1rem;
    @include media-tablet{
      font-size: 1.1rem;
    }
  }
	&__logo {
		font-size: 1.4rem;
	}
}
