@use "../../../styles/partials/utils/index" as *;

.form{

&__group-wrapper-outer{
  // border: 1px solid red;

  &>*{
    width: 100%;
  }
}

&__group-wrapper-inner{
  // border: 1px solid red;

  &>*{
    width: 100%;
  }
}
  // max-width:500px;
  // display: flex;
  // flex-direction: column;
  // border: 1px solid red;
  // // @include flex(center, center, column);
  // gap: 2rem;

  & > *{
    padding: 1rem 0rem;
  }
}