
body {
	max-width: 1200px;
	margin: 0 auto;
}

.App {
	//! this is for the footer to stay at the bottom.
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	//! this is for the footer to stay at the bottom.

	&__body {
		//! this is for the footer to stay at the bottom.
		flex: 1;
		//! this is for the footer to stay at the bottom.
	}
}
